<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>
      Campaign Schedule for {{ tomorrow.strftime("%m/%d") }}
    </title>
    <style type='text/css'>
        tr.warning td { background-color:#ffff33; }
        tr.alert td { background-color:#ff0033;color:white }
    </style>
  </head>
  <body style="font-family: Arial;border: 0 none;font-size:10pt;">
     <h1>Offers with a start date of {{ tomorrow.strftime("%m/%d") }}</h1>
     {% for day in dtrange %}
         <a href="/campaigns/{{ day.strftime("%Y-%m-%d") }}">{{ day.strftime("%m/%d") }}</a> &nbsp;&nbsp;&nbsp;&nbsp;
     {% endfor %}
     {% for p in pubs %}
        <hr />
        <h2>{{ p["name"] }}</h2>

        <table style="margin-left:50px; border=1px solid black" cellpadding=4 border=1>
            <tr><td width=350><b>Offer headline</b><br /></td><td width=80><b>Pub. Date<br /></b></td><td width=80><b>Status</b><br /></td><td>
            <table><tr>
              <td width=150><b>Channel</b></td>
              <td width=50></td>
              <td width=50 align=center># emails</td>
              <td width=50 align=center>delivered</td>
              <td width=50 align=center>bounced</td>
              <td width=50 align=center>open</td>
              <td width=50 align=center>click</td>
            </tr></table>
            </td></tr>
        {% for o in p["offers"] %}
            <tr class="{% if o["status"] != 'processing' and o["status"] != 'published' and o["status"] != 'closed' %}warning{%endif%}">
              <td width=400 valign=top>
                <a target="_blank" href="http://tippr.com/admin/core/offer/{{ o["id"] }}"><img src="/static/imgs/mag.png" alt="Edit Offer in Admin"></a>&nbsp;&nbsp;
                {{ o["headline"] }}
              </td>
              <td width=80 valign=top>{% if o["publication_date"] %}{{ o["publication_date"].strftime("%m/%d %H:%M") }}{%endif%}</td>
              <td width=80 valign=top>{{ o["status"] }}</td>
              <td valign=top>
                <table cellspacing=0 cellpadding=2>
                    {% for c in o["channels"] %}
                        {% set blast=blasts[o["id"]+"|"+c] %}
                        <tr class="{% if (not blast or (blast["status"] != "sent")) and (o["status"] in ['processing', 'published','closed'])  %}alert{% endif %}">
                          <td width=150>{{ c }}</td>
                          {% if blast %}
                            <td width=50 align=center>{{ blast["status"] }}</td>
                            <td width=50 align=center>{{ blast["email_count"] }}</td>
                            <td width=50 align=center>{{ blast["delivered_total"] }}</td>
                            <td width=50 align=center>{{ blast["hardbounce_total"] }}</td>
                            <td width=50 align=center>{{ blast["open_total"] }}</td>
                            <td width=50 align=center>{{ blast["click_total"] }}</td>
                          {% else %}
                            <td width=300 align=center colspan=6>No Sailthru Blast</td>
                          {% endif %}
                        </tr>
                    {% endfor %}
                </table>
              </td>
            </tr>
        {% endfor %}
        </table>
        <br />
     {% endfor %}
  </body>
</html>
