

{% macro render_me(COLS, ROWS) -%}
<script type="text/javascript">
    dojo.require("dojox.grid.DataGrid");
    dojo.require("dojo.data.ItemFileWriteStore");

 dojo.ready(function() {
    var report = new dojox.grid.DataGrid({
        autoHeight: 16,
        selectionMode: 'none',
        store: new dojo.data.ItemFileReadStore({
            data: {items: [
            {% for row in ROWS %}
                {{ row|tojson|safe}}{% if not loop.last %},{% endif %}
            {% endfor %}
            ]},
            hierarchical: false
        }),
        structure: [[
        {% for col in COLS %}
            {field: '{{ col.k }}', name: '{{ col.l }}', width: '{{ col.w }}'
            {% if col.u == 'integer' %}, 			classes: 'col-align-right', formatter: formatters.integer
            {% elif col.u == 'percentage' %},	 	classes: 'col-align-right', formatter: formatters.percentage
            {% elif col.u == 'currency' %}, 		classes: 'col-align-right',formatter: formatters.currency
            {% elif col.u == 'currency-negative' %}, classes: 'col-align-right', formatter: formatters.currency_negative
            {% elif col.u == 'percent-decimal' %}, classes: 'col-align-right', formatter: formatters.percent_decimal
            {% elif col.u == 'percent' %}, classes: 'col-align-right', formatter: formatters.percent
            {% elif col.u == 'currency-long' %}, classes: 'col-align-right', formatter: formatters.currency_long
			{% elif col.u == 'linkto' %}, formatter: formatters.jelinkto
            {% endif %}
            },
        {% endfor %}
        ]]
    }, dojo.byId('report-grid'));
	report.startup();
   });
 $(function() {
	$('#download-csv-link').click(function(event) {
		
		if (window.location.search)
			window.location = window.location + '&format=csv';
		else
			window.location = window.location + '?format=csv';
		return false;});
	});

</script>

{% if ROWS %}
	<div class='report-header'>
	</div>
	<div id='reports-grid-container' class='grid-container clear'>
		<div id='report-grid' ></div>
	</div>
{% else %}
	<div class='no-reports'>
		<h1>No {{ TITLE }} Found.</h1>
	</div>
{% endif %}
{%- endmacro %}

<html>
<head>
<title>Report: {{ TITLE }}</title>
    <script type="text/javascript">
/*        var djConfig = {
            blankGif: '[[ resource('img/dojo-blank') ]]',
            gfxRenderer: 'canvas,svg,vml',
            locale: 'en-us',
            modulePaths: {
                'dojox.gfx.canvas': '[[ resource('js/dojox.gfx.canvas.js', strip_extension=True) ]]',
                'dojox.gfx.svg': '[[ resource('js/dojox.gfx.svg.js', strip_extension=True) ]]'
            },
            useXDomain: true
        };
*/
    </script>
    <!--- 
	<script type="text/javascript" src="[[ resource('js/dojo.js') ]]"></script>
	--->
    <script src="http://ajax.googleapis.com/ajax/libs/dojo/1.7.1/dojo/dojo.js" type="text/javascript"></script>
    <script src="/static/js/utils.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"> </script>



<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/dojo/1.7.1/dojo/resources/dojo.css"> 
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/dojo/1.7.1/dojox/grid/resources/Grid.css"> 
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/dojox/grid/resources/tundra/Grid.css">

 <style type="text/css">
     /*Grid need a explicit width/height by default*/
     #grid {
         width: 43em;
         height: 20em;
     }
	#report-grid {
		margin: 40px;
	}
	.report-title {
		text-align: center;
		font-size: 20px;
		font-family: arial;
	}
    .report-subtitle {
        text-align: center;
        font-size: 18px;
        font-style: italic;
    }
    .report-date {
        margin-right: 40px;
        text-align: right;
    }
 </style>


<style type="text/css">
.col-align-right {
	text-align: right;
	}



body {
	font-family: arial;
	font-size:8pt;
	margin: 30px;
}
th {
/*    font-style: italic;
*/
    font-size:10pt;
}
tr {
	font-weight:bold;
	font-size:8pt;
}


</style>
</head>
<body>
<br />
<br />

<div class='report-title'>{{ TITLE }}</div><br />
{% if SUBTITLE %}<div class='report-subtitle'>{{ SUBTITLE }}</div><br />{% endif %}

<div class='report-date'>{{ now }}<br/> {{ g.user }}</div><br />
{% if BACK %}<div><a href='{{ BACK }}'>Go Back</a></div><br />{% endif %}

{% if SELECTOR %}
{% for key,value in SELECTOR.list %}
	{% if key==SELECTOR.current %}
		<div class='report-subtitle'>(for {{ value }})</div><br />
	{% endif %}
{% endfor %}
<!-- form method='POST' id='form' action='{{ SELECTOR.submit_url }}'> <!--- target is me -->

   <p><label id='search_label' for='search_input'><span>{{ SELECTOR.name }}: </span></label>
   <select id='search_input' name='id' onChange='javascript: window.location="{{ SELECTOR.submit_url }}"+""+$("#search_input").val();'>
   {% for key,value in SELECTOR.list %}
         <option value='{{ key }}' {% if key==SELECTOR.current %} selected {% endif %} > 
            {{ value }}</option> 
   {% endfor %}                    
   </select>               
   <!--button type='submit'>Change {{ SELECTOR.name }}</button></p> 
</form-->
{% endif %}

<br />
<a href id='download-csv-link'>Download as CSV</a>

{{ render_me( COLS,ROWS) }}
<br />

</body>
</html>
